*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.background-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  /* filter: brightness(0.5); /* Optional dark overlay */ 
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.6); /* Semi-transparent overlay */
  z-index: -1;
}

.calculator{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  max-width: 960px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: linear-gradient(to bottom, #F59A9D, #FDCACD, #FDECEC);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3;
  animation-name: cal;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transition-property: all 0.3s ease-in-out;
}  

.calculator:hover{
   transform: skew(8deg);
   cursor: pointer;
   scale: 1;
}

@keyframes cal {
  0%{
    transform: translate(-50%, -50%) scaleY(-2);
  }
  50%{
    left: 0%;
    transform: scaleX(1.2);
  }
  100%{
    left: 100%;
    transform: scale(1);
  }
}

.calculator-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "display display display display display"
    "first-content first-content first-content first-content first-content"
    "second-content second-content second-content second-content second-content"
    "third-content third-content third-content third-content third-content"
    ;
    background-color: #fff;
  gap: 10px;
  width: 60%;
  height: 80%;
  position: relative;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 135px;
  border-bottom-right-radius: 135px;
  box-shadow: 5px 5px 25px rgba(105, 105, 105, 0.3);
  outline: 10px solid rgba(233, 230, 230, 0.74);
  outline-offset: -10px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.calculator-container:hover{
  box-shadow: 10px 10px 50px rgba(105, 105, 105, 0.5);
  transform: scale(1.05);
}
.display{
  display: flex;
  justify-content: start;
  align-items: center;
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  font-family: helvetica, sans-serif;
  grid-area: display;
  height: 70%;
  width: 78%;
  margin: 0 43px;
  margin-top: 50px;
  padding-left: 1.18rem;
  border-radius: 40px;
  background-color: 	rgba(154, 153, 153, 0.8);
  outline: 10px solid hsla(358, 82%, 78%, 0.5);
  box-shadow: 5px 5px 25px rgba(105, 105, 105, 0.3);
}

.display-input{
   display: flex;
   align-items: center;
   font-size: 4rem;
   font-weight: 500;
   font-family: Serif, sans-serif;
   width: 96%;
   border: 3px solid #a0a0a0;
   background-color: 	rgba(154, 153, 153, 0.3);
   margin: 10px 0px 10px 0px;
   border-radius: 20px;
   padding: 10px 5px 5px 15px;
}

.content-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 490px;
  margin-left: 43px;
  border: 4px solid rgba(233, 230, 230, 0.74);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  outline-offset: -40px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.first-content{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
 margin-top: 20px;
 gap: 20px;
}

.row1-btn,.row2-btn{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Courier New', sans-serif;
  color: #000;
  background-color: #FDECEC;
  margin-right: 5px;
  box-shadow: 5px 5px 25px rgba(105, 105, 105, 0.
  3);
  border: 5px solid rgba(233, 230, 230, 0.7);
  outline: 5px solid rgba(253, 236, 236, 0.5);
  outline-offset: 6px;
  box-shadow: 0px 0px 20px rgba(7, 7, 7, 0.3);
  cursor: pointer;
}


.second-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  gap: 5px;
}

.middle-row-btn{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Courier New', sans-serif;
  color: #000;
  background-color: #FDCACD;
  margin-right: 5px;
  box-shadow: 5px 5px 25px rgba(105, 105, 105, 0.
  3);
  border: 5px solid rgba(233, 230, 230, 0.7);
  outline: 5px solid rgba(253, 202, 205, 0.5);
  outline-offset: 6px;
  box-shadow: 0px 0px 30px rgba(31, 31, 31, 0.3);
  cursor: pointer;
}

.third-content{
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
 margin-top: 20px;
 gap: 20px;
 margin-bottom: 10px;
}

.third-row-btn{
   width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Courier New', sans-serif;
  color: #000;
  background-color: #F59A9D;
  margin-right: 5px;
  box-shadow: 5px 5px 25px rgba(105, 105, 105, 0.
  3);
  border: 5px solid rgba(233, 230, 230, 0.7);
  outline: 5px solid rgba(245, 154, 157, 0.5);
  outline-offset: 6px;
  box-shadow: 0px 0px 20px rgba(7, 7, 7, 0.3);
  cursor: pointer;
}


@media screen and (max-width:767px){

  .background-video{
    display: none;
  }

  body{
    background-image: url(images/bg.jpeg) !important;
    background-size: cover;
  }
  .calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 690px;
    max-width: 690px;
    height: auto;
    border-radius: 50%;
    background: linear-gradient(to bottom, #6c016c, #df1adf, #ea87ea);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }

  @keyframes rotate{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }

  .calculator-container{
    width: 70%;
    height: 80%;
    border-radius: 100px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    animation-name: scaleIn;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

  }

  @keyframes scaleIn{
    from{
      transform: scale(0);
      opacity: 0;
    }
    to{
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .display{
    width: 86%;
    margin-left: 30px;
    outline: 10px solid rgba(234, 135, 234, 0.6);
    padding-left: 10px;
    margin-top: 30px;
    animation-name: purple-cal;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
  }

  @keyframes purple-cal{
    from{
      transform: translateY(-100%);
      opacity: 0;
    }
    to{
      transform: translateY(0);
      opacity: 1;
    }
  }

  .display-input{
    font-size: 1.5rem;
    padding: 20px 0px 20px 15px;
    margin: 20px 0px 20px 2px;
  }

  .content-container{
    width: 350px;
    height: auto;
    margin: 10px 0px 0px 66px;
    padding-bottom: 10px;
    
    
    
  }
  
  .row1-btn,.row2-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0.95rem;
    font-weight: 600;
    color: white;
    background-color: #ea87ea;
    border: 5px solid rgba(233, 230, 230, 0.7);
    outline: 5px solid rgba(248, 208, 248, 0.5);
    outline-offset: 3px;
    animation: row1 3s ease-out forwards;
    animation-delay: 3s;
  }

  @keyframes row1{
    from{
      transform: translateX(-100%);
      opacity: 0;
    }
    to{
      transform: translateX(0);
      opacity: 1;
    }
  }

  .middle-row-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0.95rem;
    font-weight: 600;
    color: white;
    background-color: #df1adf;
    border: 5px solid rgba(233, 230, 230, 0.7);
    outline: 5px solid hsla(300, 68%, 54%, 0.5);
    outline-offset: 3px;
    animation: middle-row 3s ease-out forwards;
    animation-delay: 3s;
  }

  @keyframes middle-row{
    from{
      transform: translateX(100%);
      opacity: 0;
    }
    to{
      transform: translateX(0);
      opacity: 1;
    }
  }

  .third-row-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0.95rem;
    font-weight: 600;
    color: white;
    background-color: #860686;
    border: 5px solid rgba(233, 230, 230, 0.7);
    outline: 5px solid rgba(108, 1, 108, 0.5);
    outline-offset: 3px;
    animation: third-row 3s ease-out forwards;
    animation-delay: 3s;
  }

  @keyframes third-row{
    from{
      transform: translateY(100%);
      opacity: 0;
    }
    to{
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media screen and (min-width:1025px){
  .calculator{
    width: 960px;
    max-width: 960px;
    height: auto;
    border-radius: 50%;
    background: linear-gradient(to bottom, #F59A9D, #FDCACD, #FDECEC);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
  }
  .calculator-container{
    width: 60%;
    height: 80%;
    border-radius: 100px;
    border-bottom-left-radius: 135px;
    border-bottom-right-radius: 135px;
  }
  .display{
    width: 78%;
    margin-left: 43px;
    outline: 10px solid hsla(358, 82%, 78%, 0.5);
    padding-left: 1.18rem;
    margin-top: 50px;
  }
  
  .content-container{
    width: 490px;
    height: auto;
    margin-left: 43px;
    padding-bottom: 20px;
  }
  .row1-btn,.row2-btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 600;
    background-color: #FDECEC;
    border: 5px solid rgba(233, 230, 230, 0.7);
    outline: 5px solid rgba(253, 236, 236, 0.5);
    outline-offset: 6px;
  }
  .middle-row-btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 600;
    background-color: #FDCACD;
    border: 5px solid rgba(233, 230, 230, 0.7);
    outline: 5px solid rgba(253, 202, 205, 0.5);
    outline-offset: 6px;
  }
  .third-row-btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 600;
    background-color: #F59A9D;
    border: 5px solid rgba(233, 230, 230, 0.7);
    outline: 5px solid rgba(245, 154, 157, 0.5);
    outline-offset: 6px;
  }
}
